#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

app_ver := $(shell dpkg-parsechangelog | sed -n 's/^Version: //p'| sed 's/~.*//')



%:
	dh $@

override_dh_install:
	dh_install
	sed -i '/app_version =/capp_version = "${app_ver}"'  debian/smlouvy/usr/share/smlouvy/web/app.py
